In [25]:
print("hello world")

hello world

In [26]:
i=1
for i in range(1,10):
 print(i)

1
2
3
4
5
6
7
8
9

In [59]:
name="doremon"
age=20
print("my name is",name,"and my age is",age)

my name is doremon and my age is 20

In [28]:
age=10
print(age)

10

In [31]:
ab4="hhhh"
print(ab4)

hhhh

In [44]:
# use of type function and different data types
name="aarti"
age=20
PI=3.14
num=2
isprime=False
num=None
print(  name,type(name),"\n",age,type(age),"\n",PI,type(PI),"\n",isprime,type(isprime),"\n",num,type(num))

aarti <class 'str'>
 20 <class 'int'>
 3.14 <class 'float'>
 False <class 'bool'>
 None <class 'NoneType'>

In [48]:
#comments is non executable part of program it is ignored by python interpreter
# we use # for singal line comment
''' we use triple quotes for the multiline comments '''

'''style guide
1) snake case => tot_price=100
2) camel case => totPrice=100
3) pascal case => TotPrice=100
generally we prefer snake case in our coading '''

'style guide1) snake case => tot_price=100\n2) camel case => totPrice=100\n3) pascal case => TotPrice=100\ngenerally we prefer snake case in our coading '

In [51]:
# calculate sum of two numbers
num1=10
num2=20
print("sum is:",num1+num2)
print("sum is:",num1-num2)
print("sum is:",num1*num2)
print("sum is:",num1/num2)

sum is: 30
sum is: -10
sum is: 200
sum is: 0.5

In [54]:
'''operators
1) Arithmetic operator => +,-,*,/,%,** => % gives remainder, **=>power
'''
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

15
5
50
2.0
0
100000

In [58]:
''' comparison or relational operators => <,>,<=,>=,== != 
it returns boolean value
'''
a=20
b=30
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

In [66]:
''' assignment operator is used two assign values => =,+=,-=,*=,/=
'''
a=5

print(a)
a+=2
print(a)
a-=2
print(a)
a*=2
print(a)
a/=2
print(a)
a%=2
print(a)
a**=3
print(a)

5
7
5
10
5.0
1.0
1.0

In [74]:
'''logical operator => not,and,or
'''
num=False
print(not num)
print(not( 5>10))# opposite od ans
print((5>1) and (4>2)) # true if both true
print((5<1) or (4<2))# false if both false

True
True
True
False

In [1]:
# predictr the output of code
x=3
x+=5
print(x)

8

In [5]:
# Assignment  1
name="aarti"
age=21
print("hello",name,", you are",age,"years old!")

hello aarti , you are 21 years old!

In [8]:
a=int(input("enter first number"))
b=int(input("enter second number"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

enter first number 10
enter second number 20

30
-10
200
0.5
10

In [11]:
# a=int(input("enter first integer"))
b=int(input("enter second integer"))
c=float(input("enter float number"))
a=float(a)
b=float(b)
d=(a+b+c)/3
print(a)
print(b)
print(c)
print(d)

enter second integer 20
enter float number 30.5

10.0
20.0
30.5
20.166666666666668

In [12]:
s=(input("enter the string"))
st=int(s)
ft=float(s)

print(s,type(s),st,type(st),ft,type(ft))

enter the string 45

45 <class 'str'> 45 <class 'int'> 45.0 <class 'float'>

In [13]:
x=10+3*2**2
print(x)

22

In [20]:
a=int(input("enter a"))
b=int(input("enter b"))
t=a
a=b
b=t

print(a,b)

enter a 2
enter b 4

4 2

In [26]:
print(int(10/2**5))

0

In [31]:
a=input("enter a")
b=input("enter b")
print(a+b)

enter a 10
enter b 3

103

In [33]:
a=int(input("enter a"))
b=int(input("enter b"))
c=(a+b)/2
print(c)

enter a 10
enter b 20

15.0

In [6]:
age=21
if(age>18):
    print("you can vote")

you can vote

In [2]:
age=4
if(age>=18):
    print("you can vote..........!!!!")
else:
    print("you can not vote")

you can not vote

In [7]:
age=int(input("enter age"))
if(age>=18):
    print("you can vote..........!!!!")
    print("you can drive")
else:
    print("you can not vote")

enter age 12

you can not vote

In [21]:
color=(input("enter color"))
if (color=="yellow"):
    print("look")
elif(color=="green"):
    print("go")
elif(color=="red"):
    print("stop")
    
else:
    print("invalid color")

enter color black

invalid color

In [26]:
age=int(input("enter the age"))
if(age<13):
    print("you are a child")
elif(age>=13 and age<18):
    print("you are tenager")
else
    print("you are an adult..........!!!!")

enter the age 21

you are an adult..........!!!!

In [41]:
username=input("enter the username")
password=input("enter the password")
if(username=="admin" and password=="pass"):
    print("login successfully")
elif(username!="admin"):
    print("wrong username")
else:
     print("wrong password")

enter the username abc
enter the password pass

wrong username

In [45]:
num=int(input("enter the number"))
if(num%5==0):
    print("number is the multiple of 5")
else:
    print("number is not multiple of 5")

enter the number 12

number is not multiple of 5

In [49]:
#if else
num=int(input("enter the number"))
if(num%2==0):
    print("number is even")
else:
    print("number is oddd")

enter the number 17

number is oddd

In [54]:
#nested if else
username=input("enter the username")
password=input("enter the password")
if(username=="admin" and password=="pass"):
    print("login successfully")
else:
    if(username!="admin"):
        print("wrong username")
    else:
        print("wrong password")

enter the username admin
enter the password pass

login successfully

In [70]:
# match case
color=input("enter the color")
match (color):
    case "yellow":
        print("look")
    case "green":
        print("go")
    case "red":
        print("stop")
    case _:
        print("wrong color")

enter the color red

stop

In [71]:
i=1
while(i<=18):
    print("hellow world")
    i+=1

hellow world
hellow world
hellow world
hellow world
hellow world

In [1]:
i=1
while(i<=5):
    print(i)
    i+=1

1
2
3
4
5

In [6]:
#multiplication table for n numbers
num=int(input("enter the number for printing table"))
i=1
while(i<=10):
    print(num ,"*",i,"=",num*i)
    i+=1

enter the number for printing table 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [3]:
i=20
while(i>=1):
    print(i)
    i-=1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [5]:
i=0
while(i<=5):
    print(i)
    i+=1

0
1
2
3
4
5

In [12]:
i=0
while(i<10):
    print("6","*",i,"=",6*(i+1))
    i+=1

6 * 0 = 6
6 * 1 = 12
6 * 2 = 18
6 * 3 = 24
6 * 4 = 30
6 * 5 = 36
6 * 6 = 42
6 * 7 = 48
6 * 8 = 54
6 * 9 = 60

In [ ]:
# break keyword is used to terminate or break the loop
i=1
while(i<=10):
    if(i%5==0):
        break
    print(i)
    i+=1
print("we are outside the loop")

In [ ]:
i=1
while(i<=10):
    if(i%3==0):
        i+=1
        continue
    print(i)
    i+=1

In [7]:
i=0
while(i<10):
    i+=1
    if(i%2==0):
        continue
    print(i)

1
3
5
7
9

In [5]:
i=1
while(i<=10):
    if(i%2!=0):
        print(i)
    i+=1

1
3
5
7
9

In [8]:
# for loops => it is use for sequential traversal 
# in is called a membership operator
i=0
for i in range(10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [11]:
string="hello"
for var in string:
    print(var)

h
e
l
l
o

In [13]:
string="college"
for var in string:
    print(var)

c
o
l
l
e
g
e

In [1]:
# in checks presence of character in string
string="college"
if 'o' in string:
    print("o exists")

o exists

In [2]:
# for loops is for sequential traversal =>list,tupple,dictionaries, string
string="apna college"
# in => membership operator it checks presence
for ch in string:
    print(ch)

a
p
n
a

c
o
l
l
e
g
e

In [4]:
string="apna college"
if 'f' in string:
    print("a exists in string")
else:
    print("does not exists")

does not exists

In [19]:
string="apna college"
cnt=0
for ch in string:
    if(ch=='a'):
        print("a exists")
        cnt+=1
else:
    print("does not exists")
print(cnt)

a exists
a exists
does not exists
2

In [24]:
for i in range(10): #range(n) n is max number =>prints value from 0 to n-1
    print((i+1)*2)

2
4
6
8
10
12
14
16
18
20

In [27]:
word="artificial intelligence"
cnt=0
for ch in word:
    if(ch=='i'):
        cnt+=1
print("count is::",cnt)

count is:: 6

In [30]:
# vowel count
word="artificial intelligence"
vcount=0
for ch in word:
    if(ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u'):
        vcount+=1
print("vowel count is:=>",vcount)

vowel count is:=> 10

In [36]:
# range function generate seguences it has three poarameter
# range(start,end,step)=>start & step is optional range(5)=>0,1,2,3,4 =>by default step vallue is +1
for i in range(5):
    print(i)
for i in range(1,10,2):
    print(i)

0
1
2
3
4
1
3
5
7
9

In [41]:
# sum of first n natural numbers
n=int(input("enter limit"))
sum=0
for i in range(1,n+1):
    sum+=i
print("sum is",sum)

enter limit 10

sum is 55

In [42]:
# functions in python =>block of statements that perform a specific tasks ex:: print(),input()
# function definition
# function call/invoke
# it is basically resuable component
def hlo():
    print("hello")
hlo()

hello

In [50]:
a=int(input("enter 1st no"))
b=int(input("enter 2nd no"))
def sum(a,b):
   print("sum",a+b)#return a+b
sum(a,b)
sum(3,4)

enter 1st no 21
enter 2nd no 21

sum 42
sum 7

In [54]:
a=int(input("enter a"))
b=int(input("enter b"))
c=int(input("enter c"))
def average(a,b,c):
    avg=(a+b+c)/3
    print("average is",avg)
average(a,b,c)
average(2,4,6)

enter a 46
enter b 78
enter c 90

average is 71.33333333333333
average is 4.0

In [58]:
#function with default argument or default parameter
def sum(a,b=5):
    return a+b
sum(4)

10

In [68]:
# types of function

'''1) built in function or predefined function
    2)userdefined function'''
#lambda function=>it does not use for conmplex program

sum=lambda a,b:a+b
sum(4,5)

avg=lambda a,b:(a+b)/2
avg(5,5)

5.0

In [92]:
n=int(input("enter the value of n"))
#fact=1
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact*=i
    print(fact)
factorial(n)

enter the value of n 10

3628800

In [95]:
# assignment number 2 on python fundamentals
#1}.....................

salary=int(input("enter the salary...............!!!!"))
if(salary<30000):
    print("final tax rate is 5%")
elif(salary>30000 and salary<70000):
    print("final tax rate is 15%")
elif(salary>70000):
    print("final tax rate is 25%")

enter the salary...............!!!! 60000

final tax rate is 15%

In [1]:
a=int(input("enter a"))
b=int(input("enter b"))
def print_even(a,b):
    for i in range(a,b+1):
        if(i%2==0):
            print(i)
print_even(a,b)

enter a 2
enter b 10

2
4
6
8
10

In [8]:
n=int(input("enter the number"))
def print_digit(n):
    while(n>0):
        last=n%10
        n=n//10
        print(last)
print_digit(n)

enter the number 1234

4
3
2
1

In [2]:
for i in range(1,100+1):
    if(i%3==0 and i%5==0):
        print(i)

15
30
45
60
75
90

In [1]:
# Qno 5
n=int(input("enter the number"))
def print_sum(n):
    sum=0
    for i in range(n+1):
        sum+=i
    print(sum)
print_sum(n)

enter the number 4

10

In [5]:
#Q7
while True:
    n=(input("enter the number or quit"))
    if(n=="quit"):
        print("stopped")
        break
    n=int(n)
    if(n>0):
        print("positive")
    else:
        print("negative")

enter the number or quit 1

positive

enter the number or quit 2

positive

enter the number or quit -3

negative

enter the number or quit quit

stopped

In [10]:
#Q8
a=int(input("enter a"))
b=int(input("enter b"))
operation=input("enter operation")
def calculator(a,b,operation):
    if(operation=="+"):
        return a+b
    elif(operation=="-"):
        return a-b
    elif(operation=="*"):
        return a*b
    elif(operation=="/"):
        return a/b
    else:
        print("inavlid operation")
calculator(a,b,operation)

enter a 30
enter b 3
enter operation /

10.0

In [25]:
#Q9
n=int(input("enter the num"))
def is_prime(n):
    for i in range(2,n):
        if(n%i==0):
            return False
            
    return True
is_prime(n)

enter the num 4

False

In [1]:
n=int(input("enter num"))
def digit_count(n):
    count=0
    while(n>0):
        count+=1
        n//=10
    print("count is",count)
digit_count(n)

enter num 1234

count is 4

In [73]:
#Q10
n=int(input("enter no"))
guess=int(input("enter guess no"))
if (n==guess):
    print("correct......!!!!!!!!!!!!")
elif(n<guess):
    print("tooo high")
elif(n>guess):
    print("tooo low")
else:
    print("invalid guess")

enter no 12
enter guess no 12

correct......!!!!!!!!!!!!

In [3]:
#strings in python word="python"
word1="i love"
word2=" python"
print(len(word1))
print(word1+word2)
print(word2[2:4])

6
i love python
yt

In [79]:
#strings are immutable => we can not assign the valuses to the particular character
word="python"
for ch in word:
    print(ch)

p
y
t
h
o
n

In [8]:
#slicing a string=>last index is not included
word="python"
print(word[2:6])
print(word[-4:-2])

thon
th

In [23]:
# string formatting
#1} f-string
#2} format function
sum=25
a=10
b=23
sum=a+b
print("sum is {}".format(sum))#normal formatting
print("language is {}".format("python"))
print("sum of {} and {} is {}".format(a,b,sum))

# index based formatting
print("sum of {1} and {0} is {2}".format(a,b,sum))

# value based formatting
print("{a}values of {a} and {b} is".format(a=8,b=8))

sum is 33
language is python
sum of 10 and 23 is 33
sum of 23 and 10 is 33
8values of 8 and 8 is

In [27]:
# formatting using f string
sum=89
a=6
b=67
print(f"sum is {sum}")
print(f"sum of {a} and {b} is {a+b}")
print(f"averagge of {a} and {b} is {(a+b)/2}")

sum is 89
sum of 6 and 67 is 73
averagge of 6 and 67 is 36.5

In [71]:
''' four built in datatypes of python
1}list
2}tupple
3}dict
4}set'''


# LIST
#1]  mutable sequence of values
#2] we can store diff type of values
#3] can access values from index

marks=[99,100,20,30,45,26,10,56,89,"as"]
marks[1]=70
print(type(marks))
print(len(marks))
print(marks[8])

#slicing on list
print(marks[2:6])
print(marks[:])
print(marks[2:])
print(marks[:6])
print(marks[-1:-2])


# methods of list
#1] l.append( val)=> insert at the end 
#2] l.insert(index ,val)=> insert at index
#3] l.sort()=> arrange in ascending order
#4]l.reverse()=> reverse order
num=[1,2,3]
num.append(4)
print(num)
num.insert(2,10)
print(num)
num.sort(reverse=True)
print(num)
num.reverse()
print(num)


#looops in List
num=[1,2,3,4,10,5,6]
x=10
idx=0
for val in num:
    if(val==x):
        print(f"{x} found at index = {idx}")
        break
    idx+=1

<class 'list'>
10
89
[20, 30, 45, 26]
[99, 70, 20, 30, 45, 26, 10, 56, 89, 'as']
[20, 30, 45, 26, 10, 56, 89, 'as']
[99, 70, 20, 30, 45, 26]
[]
[1, 2, 3, 4]
[1, 2, 10, 3, 4]
[10, 4, 3, 2, 1]
[1, 2, 3, 4, 10]
10 found at index = 4

In [91]:
#tupples
#1] immutable
#2] can store diff values

tup=(1,2,3,4,5,"as",3.14)
print(tup)
print(type(tup))
print(len(tup))
print(tup[4])

tup=(1,)
print(type(tu))

#slicing in tupple
t=(1,2,3,4,5,6)
print(t[:])
print(t[:])

#loops in tupple
for val in t:
    print(val)

    # calculate sum of tupple
sum=0
for val in t:
    sum+=val
print(f"sum of tupple is {sum}")

#method of tupple
#1] t.index(val) => count first occurence
#2] t.count(val) =>count total occurances
tt=(1,2,2,2,2,2,3,4,5)
print(f"first occurence of 2 is at index = {tt.index(2)}")
print(f"total count of 2 is {tt.count(2)}")

(1, 2, 3, 4, 5, 'as', 3.14)
<class 'tuple'>
7
5
<class 'tuple'>
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
1
2
3
4
5
6
sum of tupple is 21
first occurence of 2 is at index = 1
total count of 2 is 5

In [116]:
#dictionary => key value pair => keys are always unique
# mutable, unorderd
dict={"name":"Aarti",
      "cgpa":9.3,
     "subject":["math","science"],
      3.14:"PI"
    }
dict["cgpa"]=8.5
print(dict)
print(type(dict))

# we can access values through the keys in dictionary
print(dict["subject"])
print(dict["cgpa"])

#methods
#1] keys()=>retrurns all the keys of dict
#2] values()=>returns the values of dict
#3] items()=> returns all key value pair
#4] get()=> used to access value of the particular keys
#5] update()=> adds new item in dict

print(dict.keys())
print(dict.values())
print(dict.items())
print(dict.get("cgpa"))
dict.update({"city":"delhi"})
print(dict)

{'name': 'Aarti', 'cgpa': 8.5, 'subject': ['math', 'science'], 3.14: 'PI'}
<class 'dict'>
['math', 'science']
8.5
dict_keys(['name', 'cgpa', 'subject', 3.14])
dict_values(['Aarti', 8.5, ['math', 'science'], 'PI'])
dict_items([('name', 'Aarti'), ('cgpa', 8.5), ('subject', ['math', 'science']), (3.14, 'PI')])
8.5
{'name': 'Aarti', 'cgpa': 8.5, 'subject': ['math', 'science'], 3.14: 'PI', 'city': 'delhi'}

In [132]:
#set =>collection of unique elements
# set is mutable and elements are immutable

set={1,2,3,3,3,3,3,3,4,5,6,7}
print(type(set))
print(len(set))
print((set))



# set methods
#1] add()
#2] remove()
#3] clear()
#4] pop()=>removes random value from set
#5] union()
#6]intersection()

set.add(10)
print((set))
set.remove(3)
print(set)
#set.clear()
print(set)
print(set.pop())
s1={1,2,3,4,5}
s2={3,4,5,7,8}
print(s1.union(s2))
print(s1.intersection(s2))

<class 'set'>
7
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 10}
{1, 2, 4, 5, 6, 7, 10}
{1, 2, 4, 5, 6, 7, 10}
1
{1, 2, 3, 4, 5, 7, 8}
{3, 4, 5}

In [151]:
# assignment 3
#Q1
s=input("enter string")
rev=""
for ch in s:
    rev=ch+rev
if(s==rev):
    print("string is palindrome")
else:
    print("not")

enter string madam

string is palindrome

In [45]:
#Q2
l=[1,2,3,4,5,6,7]
sum=0
for i in l:
    sum+=i
    avg=sum/7
print(f"average is {avg}")

average is 4.0

In [47]:
#Q3
l1=[1,2,3,4,5]
l2=[6,2,7,8,9,10]
l3=l1+l2
print(l3)
l3.sort()
print(l3)

enter first list 1 2 3 4 5

ValueError: invalid literal for int() with base 10: '1 2 3 4 5'

In [187]:
#Q4
t=(1,2,3,4,5,6,8,9,10)
even=()
odd=()
for i in t:
    if(i%2==0):
        even+=(i,)
    else:
        odd+=(i,)
print(even)
print(odd)

(2, 4, 6, 8, 10)
(1, 3, 5, 9)

In [ ]:
#Q5
dict={
    "Aarti":70,
    "Ashwini":80,
    "sakshi":90,
    "kanchan":85
}
while True:
    print("\n-------MENU--------\n")
    print("A. Add Student")
    print("B. udate marks")
    print("C. search student")
    print("D. display all")
    print("E. Exit")

    ch= input("enter your choice").upper()

    if ch=='A':
        name=input("enter name to add")
        mark=int(input("enter marks"))
        dict[name]=mark
        print("student added")
    elif ch=='B':
        name=input("enter name update marks")
        mark=int(input("enter marks"))
        dict[name]=mark
        print("smarks udated")
    elif ch=='C':
        name=input("enter name to search")
        if name in dict:
            print(f"student found {dict[name]}")
    elif ch=='D':
        print(dict.items())
    elif ch=='E':
        print("exit")
        break

-------MENU--------

A. Add Student
B. udate marks
C. search student
D. display all
E. Exit

enter your choice a
enter name to add yogini
enter marks 79

student added

-------MENU--------

A. Add Student
B. udate marks
C. search student
D. display all
E. Exit

enter your choice d

dict_items([('Aarti', 70), ('Ashwini', 80), ('sakshi', 90), ('kanchan', 85), ('yogini', 79)])

-------MENU--------

A. Add Student
B. udate marks
C. search student
D. display all
E. Exit

enter your choice b
enter name update marks Aarti
enter marks 99

smarks udated

-------MENU--------

A. Add Student
B. udate marks
C. search student
D. display all
E. Exit

enter your choice d

dict_items([('Aarti', 99), ('Ashwini', 80), ('sakshi', 90), ('kanchan', 85), ('yogini', 79)])

-------MENU--------

A. Add Student
B. udate marks
C. search student
D. display all
E. Exit

enter your choice c
enter name to search sakshi

student found 90

-------MENU--------

A. Add Student
B. udate marks
C. search student
D. display all
E. Exit

enter your choice d

dict_items([('Aarti', 99), ('Ashwini', 80), ('sakshi', 90), ('kanchan', 85), ('yogini', 79)])

-------MENU--------

A. Add Student
B. udate marks
C. search student
D. display all
E. Exit

enter your choice e

exit

-------MENU--------

A. Add Student
B. udate marks
C. search student
D. display all
E. Exit

enter your choice e

exit

-------MENU--------

A. Add Student
B. udate marks
C. search student
D. display all
E. Exit

enter your choice e

exit

-------MENU--------

A. Add Student
B. udate marks
C. search student
D. display all
E. Exit

enter your choice a
enter name to add ash
enter marks 54

student added

-------MENU--------

A. Add Student
B. udate marks
C. search student
D. display all
E. Exit

In [6]:
#Q6
words=["apple","banana","kiwi","cherry","mango"]
dict={}
for w in words:
    dict[w]=len(w)
print(dict)

{'apple': 5, 'banana': 6, 'kiwi': 4, 'cherry': 6, 'mango': 5}

In [23]:
#Q7
str=input("enter the string")
c=0
for ch in str:
    if(ch==" "):
        c+=1
print(f"number of spaces in string is {c}")

enter the string  a b c

number of spaces in string is 3

In [43]:
#Q8
l1=[1,2,3,4,5]
l2=[6,7,8]
if set(l1).isdisjoint(l2):
    print(f"two list share no common elements")
else:
     print(f"two list share some common elements")

two list share no common elements

In [22]:
#Q9
list=[1,2,1,2,3,4,5,6,2,23,4,2,3,2]
dup=set()
seen=set()
for i in list:
    if i in seen:
        dup.add(i)
    else:
        seen.add(i)
print(dup)
print(seen)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 23}

In [41]:
#Q10 #aartuu
str=input("enter the string")
c=0
for ch in str:
    if str.count(ch)==1:
        print(ch)
        c+=1
print(f"count of unique elements are{c}")

enter the string artiii

a
r
t
unique elements are i
count of unique elements are3